# dependencies
node_modules
.pnpm-store

# next
.next
out

# env
.env
.env.local
.env.*.local

# uploads (keep folder)
public/uploads/*
!public/uploads/.gitkeep

# misc
.DS_Store
*.log
.turbo

.vercel
.env*
